:root {
    /* Primary */
    --clr-primary-footerbg-headings: hsl(243, 87%, 12%);
    --clr-primary-secondarybg-text: hsl(238, 22%, 44%);

    /* Accent */
    --clr-accent-started-btn: hsl(224, 93%, 58%);
    --clr-accent-redirect-text: hsl(170, 45%, 43%);

    /* Neutral */
    --clr-neutral-lightgrayishblue: hsl(240, 75%, 98%);
    --clr-neutral-lightgray: hsl(0, 0%, 75%);

    /* Fonts */
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Raleway', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;

    --paddingX-mobile: 1.5rem;
    --paddingX-desktop: 4rem;
}

body {
    color: var(--clr-primary-footerbg-headings);
    font-family: var(--ff-primary);
    text-align: center;
}

header {
    padding: 1rem var(--paddingX-mobile);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;
}

header > img {
    width: 80px;
}

.header-nav > ul {
    display: flex;
    gap: 1.5rem;
}

ul {
    list-style-type: none;
}

.nav-item {
    font-family: var(--ff-secondary);
    font-size: 0.75rem;
}

@media (min-width: 900px) {
    body {
        text-align: left;
    }

    header {
        padding: var(--paddingX-desktop) 5rem;
        margin-bottom: 0;
    }

    header > img {
        width: 165px;
    }

    .header-nav > ul {
        gap: 3.5rem;
    }

    .nav-item {
        font-size: 1rem;
    }
}

/* Hero Section */
.hero {
    padding: 0 2rem 9rem;
    background-image: url(images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0 bottom;
}

.hero-img-wrapper {
    padding: 0 0.5rem 2rem;
}

.hero .content-title {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    /* margin-bottom: 1.5rem; */
}

.content-text {
    font-size: 0.875rem;
    /* margin-bottom: 1.825rem; */
}

.register-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#register {
    width: 100%;
}

#register::placeholder {
    font-size: 0.75rem;
    color: var(--clr-neutral-lightgray);
}

#register, .register-btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-primary-footerbg-headings);
    border-radius: 4px;
}

.register-btn {
    background-color: var(--clr-accent-started-btn);
    color: white;
    border: 1px solid var(--clr-accent-started-btn);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 0.875rem;
}

@media (min-width: 900px) {
    .hero {
        background-image: url(images/bg-curve-desktop.svg);
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem var(--paddingX-desktop) 14rem;
    }

    .content-text-wrapper {
        grid-column: 1;
        grid-row: 1;
        margin: auto 0;
        padding-right: 3rem;
    }

    .hero-img-wrapper {
        grid-column: 2;
        grid-row: 1;
        margin: auto;
    }

    .hero .content-title {
        font-size: clamp(1.5rem, -0.1667rem + 2.963vw, 2.5rem);
        text-align: left;
    }

    .content-text {
        font-size: 1.125rem;
    }

    .register-input-wrapper {
        flex-direction: row;
    }

    .register-input-wrapper > label {
        flex-basis: 55%;
    }

    #register::placeholder {
        font-size: 0.875rem;
    }

    .register-btn {
        flex-basis: 34%;
    }
}

/* Content Section */
.content-wrapper {
    background-color: var(--clr-neutral-lightgrayishblue);
    padding: 2.5rem 1.5rem 4rem;
    text-align: left;
}

.content-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content-img {
    margin-bottom: 5rem;
}

.content-title {
    font-family: var(--ff-secondary);
    font-size: 1rem;
    font-weight: var(--fw-bold);
    text-align: center;
}

.content-wrapper .content-text {
    color: var(--clr-primary-secondarybg-text);
}

.redirect-see {
    position: relative;
    color: var(--clr-accent-redirect-text);
    font-size: 0.75rem;
    text-align: center;
    border-bottom: 1px solid var(--clr-accent-redirect-text);
    width: fit-content;
    margin: 1rem auto;
}

.redirect-see::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url(images/icon-arrow.svg);
    position: absolute;
    margin-left: 0.5rem;
}

.testimony-wrapper {
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    width: 280px;
    margin: 0 auto;
    padding: 1rem 1rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.testimony-text {
    font-size: 0.625rem;
    line-height: 1.7;
    font-weight: var(--fw-bold);
}

.testinomy-author-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.5rem;
}

.testinomy-author-img {
    width: 24px;
    border-radius: 50%;
    grid-row: 1 / -1;
}

.testinomy-author-name {
    font-size: 0.625rem;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
}

.testinomy-author-position {
    font-size: 0.4375rem;
}

.grid-group {
    display: grid;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}