:root {
    /* Primary */
    --clr-primary-footerbg-headings: hsl(243, 87%, 12%);
    --clr-primary-secondarybg-text: hsl(238, 22%, 44%);

    /* Accent */
    --clr-accent-started-btn: hsl(224, 93%, 58%);
    --clr-accent-redirect-text: hsl(170, 45%, 43%);

    /* Neutral */
    --clr-neutral-lightgrayishblue: hsl(240, 75%, 98%);
    --clr-neutral-lightgray: hsl(0, 0%, 75%);

    /* Fonts */
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Raleway', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;

    --paddingX-mobile: 1.5rem;
    --paddingX-desktop: 5rem;
}

body {
    color: var(--clr-primary-footerbg-headings);
    font-family: var(--ff-primary);
    text-align: center;
}

header {
    padding: 1rem var(--paddingX-mobile);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;
}

header > img {
    width: 80px;
}

.header-nav > ul {
    display: flex;
    gap: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    font-family: var(--ff-secondary);
    font-size: 0.75rem;
}

@media (min-width: 900px) {
    body {
        text-align: left;
    }

    header {
        padding: var(--paddingX-desktop);
        margin-bottom: 0;
    }

    header > img {
        width: 165px;
    }

    .header-nav > ul {
        gap: 3.5rem;
    }

    .nav-item {
        font-size: 1rem;
    }
}

/* Hero Section */
.hero {
    padding: 0 2rem 9rem;
    background-image: url(images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0 bottom;
}

.hero-img-wrapper {
    padding: 0 0.5rem 2rem;
}

.hero .content-title {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    /* margin-bottom: 1.5rem; */
}

.content-text {
    font-size: 0.875rem;
    /* margin-bottom: 1.825rem; */
}

.register-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#register {
    width: 100%;
}

#register::placeholder {
    font-size: 0.75rem;
    color: var(--clr-neutral-lightgray);
}

#register, .register-btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-primary-footerbg-headings);
    border-radius: 4px;
}

.register-btn {
    background-color: var(--clr-accent-started-btn);
    color: white;
    border: 1px solid var(--clr-accent-started-btn);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 0.875rem;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 0.2);
}

.register-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media (min-width: 900px) {
    .hero {
        background-image: url(images/bg-curve-desktop.svg);
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem var(--paddingX-desktop) 14rem;
    }

    .content-text-wrapper {
        grid-column: 1;
        grid-row: 1;
        margin: auto 0;
        padding-right: 3rem;
    }

    .hero-img-wrapper {
        grid-column: 2;
        grid-row: 1;
        margin: auto;
    }

    .hero .content-title {
        font-size: clamp(1.5rem, -0.1667rem + 2.963vw, 2.5rem);
        text-align: left;
    }

    .content-text {
        font-size: 1.125rem;
    }

    .register-input-wrapper {
        flex-direction: row;
    }

    .register-input-wrapper > label {
        flex-basis: 55%;
    }

    #register::placeholder {
        font-size: 0.875rem;
    }

    .register-btn {
        flex-basis: 34%;
    }
}

/* Content Section */
.content-wrapper {
    background-color: var(--clr-neutral-lightgrayishblue);
    padding: 2.5rem 1.5rem 5rem;
    text-align: left;
}

.content-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content-img {
    margin-bottom: 5rem;
}

.content-title {
    font-family: var(--ff-secondary);
    font-size: 1rem;
    font-weight: var(--fw-bold);
    text-align: center;
}

.redirect-see {
    position: relative;
    color: var(--clr-accent-redirect-text);
    font-size: 0.75rem;
    text-align: center;
    border-bottom: 1px solid var(--clr-accent-redirect-text);
    width: fit-content;
    margin: 1rem auto;
}

.redirect-see:hover {
    opacity: 0.7;
    cursor: pointer;
}

.redirect-see::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url(images/icon-arrow.svg);
    position: absolute;
    margin-left: 0.5rem;
}

.testimony-wrapper {
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    width: 280px;
    margin: 0 auto;
    padding: 1rem 1rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.testimony-text {
    font-size: 0.625rem;
    line-height: 1.7;
    font-weight: var(--fw-bold);
}

.testinomy-author-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.5rem;
}

.testinomy-author-img {
    width: 24px;
    border-radius: 50%;
    grid-row: 1 / -1;
}

.testinomy-author-name {
    font-size: 0.625rem;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
}

.testinomy-author-position {
    font-size: 0.4375rem;
}

@media (min-width: 900px) {
    .content-wrapper {
        padding: 4rem var(--paddingX-desktop) 6.5rem;
        grid-template-columns: 1.4fr 1fr;
        place-items: center;
    }

    .content-title {
        text-align: left;
        font-size: 2.5625rem;
    }

    .content-wrapper .content-text {
        font-size: 1rem;
        max-width: 60ch;
    }

    .content-img {
        margin-bottom: 0;
    }

    .redirect-see {
        margin: unset;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .testimony-wrapper {
        margin: unset;
        width: 350px;
        padding: 1.5rem 2rem;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .testimony-text {
        font-weight: var(--fw-regular);
        font-size: 0.825rem;
    }

    .testinomy-author-img {
        width: 2rem;
    }

    .testinomy-author-name {
        font-size: 0.6875rem;
    }

    .testinomy-author-position {
        font-size: 0.5rem;
    }
}

.early-access {
    background-color: var(--clr-primary-secondarybg-text);
    color: var(--clr-neutral-lightgrayishblue);
    padding: 3.5rem 3rem 4.5rem;
}

.early-access .content-title {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.early-access .content-text {
    margin-bottom: 1rem;
}

.early-access .register-input-wrapper {
    width: 90%;
    margin: 0 auto;
    gap: 0.5rem;
}

.early-access .register-btn {
    font-size: 0.625rem;
}

.early-access #register {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 0.625rem;
    border: none;
}

.early-access #register::placeholder {
    font-size: 0.625rem;
}

@media (min-width: 900px) {
    .early-access {
        padding: 7rem var(--paddingX-desktop) 5.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .early-access .content-title {
        font-size: 2rem;
    }
    
    .early-access .content-text {
        max-width: 55ch;
        font-size: 1rem;
        margin-bottom: 0;
    }

    .early-access .register-input-wrapper {
        flex-direction: column;
        justify-items: center;
        gap: 1rem;
        margin-left: 7.5rem;
    }
    
    .early-access .register-input-wrapper > label {
        flex-basis: auto;
        width: 85%;
    }

    .early-access #register {
        font-size: 1rem;
    }

    .early-access #register::placeholder {
        font-size: 0.8rem;
    }

    .early-access .register-btn {
        font-size: 0.85rem;
        width: fit-content;
        padding: 0 2rem;
    }
}

.footer {
    background-color: var(--clr-primary-footerbg-headings);
    color: var(--clr-neutral-lightgrayishblue);
    text-align: left;
    padding: 4rem 2rem;
}

.footer svg {
    margin-bottom: 1.5rem;
}

.footer svg * {
    fill: var(--clr-neutral-lightgrayishblue);
}

.footer nav {
    flex-direction: column;
    gap: 1rem;
}

.footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer nav ul li {
    position: relative;
}

.footer-phone, .footer-email {
    gap: 1rem;
    align-items: center;
    /* justify-content: center; */
}

.footer-phone > img, .footer-email > img {
    width: 20px;
}

.footer nav .socials {
    flex-direction: row;
    justify-content: center;
}

.socials img {
    width: 24px;
}

@media (min-width: 900px) {
    .footer {
        padding: 7rem var(--paddingX-desktop);
        padding-right: 15rem;
    }

    .footer nav {
        flex-direction: row;
        justify-content: space-between;
    }   
}

/* Utilities */
.grid-group {
    display: grid;
}

.flex-group {
    display: flex;
}

.error-msg {
    display: none;
    font-size: 0.8125rem;
    color: lightcoral;
}

.early-access .error-msg {
    color: var(--clr-neutral-lightgrayishblue);
}

#register[data-error="true"] {
    border: 1px solid lightcoral;
}


.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}